@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

// Variable overrides

// Bootstrap defaults

@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/darkly/bootswatch';

// react-vis

@import '~react-vis/dist/style';

// Global styles

h3 {
  font-family: 'Playfair Display', serif;
}

.rv-discrete-color-legend-item {
  padding: 0 !important;

  &__title {
    color: $light;
  }
}

.rv-xy-plot__axis__tick__text,
.rv-xy-plot__axis__title text {
  font-size: 12px;
}

.nav-link:not(.active) {
  cursor: pointer;
}

.custom-select {
  font-size: 1rem;
}
